body{
  background-image: url(https://wallpaperaccess.com/full/637645.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background:
}
#bar{
  width: 500px;
  font-size: 30px;
}
#TestName{
  height: 55px;
}
.rickSanchez{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* for the actual divs  */
/* #test0:hover {
  background: #d3d3d3;
  width: auto;
  height: auto;
  opacity: 0.8
  /* margin: 10px; */


/* for the paragraph part of everything  */
/* .ptest0{
  position: static;
  left: 340px;
  bottom: 300px;
  margin: 0px;
} */


p{
  display: none;
  background: blue;
}





 #test0:hover , #test1:hover , #test2:hover , #test3:hover , #test4:hover , #test5:hover , #test6:hover , #test7:hover , #test8:hover , #test9:hover , #test10:hover , #test11:hover , #test12:hover , #test13:hover {
  color: white;
  background: ;
  /* opacity: 0.9; */
  transform: scale(1.05);
  animation-name: fadein;
  animation-duration: .4s;
}
#test14:hover , #test15:hover , #test16:hover , #test17:hover , #test18:hover , #test19:hover{
  color: white;
  background: #3C3E44;
  /* opacity: 0.9; */
  transform: scale(1.05);
  animation-name: fadein;
  animation-duration: .4s;
}
.images{
  opacity: 3.0;
  transform: scale(1);
}
img{
  opacity: none;
  margin: 10px;
}

.animation {
  animation-name: fadein;
  margin: 5px;
  transform: scale(1.5);
  /* animation-delay: 0s;
  animation-duration: .5s; */
  animation-timing-function: ease-in;

}

@keyframes fadein {
  0%{display: none; opacity: 0; }
  50%{display: block; opacity: 0;}
  100%{display: block; opacity: 1;}

}


/* img{
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 300px;
} */
