body{
  background-image: url(https://wallpaperaccess.com/full/637645.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background:
}
@media (max-width: 600px){
  body{
    background-image: url(https://wallpapercave.com/wp/wp4559985.jpg)
  }
}
#bar{
  color: white;
  width: 500px;
  font-size: 30px;
  background: rgba(0,0,0,0.5);
}
#TestName{
  height: 50px;
  background: white;
}
.rickSanchez{

  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* practicing modal but everything just stacks ontop of each other so I cant use it  */
/* .ptest0{
  opacity: 0;
  background: #fff;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  background-color: rgba(0,0,0,0.1);
  top: 0;
  left: 0;
  height: ;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: ;
  pointer-events: none;


} */

/* .ptest0 {
  background: #fff;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
} */
/* .ptest0.show{
  opacity: 1;
  pointer-events: auto;
} */
p{
  position: relative;
  display: none;
  background: #3B3E43;
  font-size: 10px;
  width: 150px;
  left: 90px;
  bottom: 13px;
}





 #test0:hover , #test1:hover , #test2:hover , #test3:hover , #test4:hover , #test5:hover , #test6:hover , #test7:hover , #test8:hover , #test9:hover , #test10:hover , #test11:hover , #test12:hover , #test13:hover {
  color: white;
  background: ;
  transform: scale(1.1);
  animation-name: fadein;
  animation-duration: 1s;


}
#test14:hover , #test15:hover , #test16:hover , #test17:hover , #test18:hover , #test19:hover{
  color: white;
  background: ;
  transform: scale(1.1);
  animation-name: fadein;
  animation-duration: 1s;
}
.images{
  opacity: 3.0;
  transform: scale(1);
}
img{
  opacity: none;
  margin: 10px;
  border-radius: 50%
}

.animation {
  animation-name: fadein;
  margin: 5px;
  transform: scale(1.5);
  animation-timing-function: ease-in;
  animation-duration: 0.7s;

}
.imageAnimation{
  animation-name: inandout;
  animation-duration: 1s;
}

@keyframes fadein {
  0%{display: none; opacity: 0; border-radius: 50%}
  1%{display: block; opacity: 0; border-radius: 50%}
  100%{display: block; opacity: 1; border-radius: 0%}

}

@keyframes inandout {
  0%{border-radius: 100%}
  1%{border-radius: 90%}
  100%{border-radius: 0%}
}
